.download-grid {
    width: 80%;
    display: flex;
    margin: 50px auto;
    flex-direction: column;
    gap: 20px
}

.download-grid > div {
    display: flex;
    flex-direction: row;
    background-color: var(--light-grey);
    border-radius: 10px;
    height: fit-content;
    position: relative;
    transition: 0.25s
}

.download-grid > div:hover {
    scale: 97.5%
}

.download-render {
    height: fit-content;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    height: 75px
}

.download-contents {
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    width: 100%
}

.download-contents * {
    margin: 0
}

.download-info {
    display: flex;
    align-items: center;
    gap: 15px
}

.download-info p {
    margin: 5px 0 0
}

.download-buttons {
    display: flex;
    flex-direction: row-reverse;
    gap: 15px
}

.download-buttons a {
    height: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--crimson);
    border-radius: 10px
}

.download-buttons img {
    height: 40px
}

.download-buttons a.button-changelog {
    background-color: mediumseagreen
}