.frontpage {
    height: 100vh;
    position: relative;
    background: linear-gradient(to bottom, #4acdfc, #c1eefe)
}

.keyart {
    position: absolute;
    z-index: 0;
    width: 100%;
    max-height: 100vh;
    object-fit: cover
}

nav {
    position: relative;
    z-index: 1
}

.hero {
    width: 40%;
    margin: 30px auto 0;
    position: relative;
    z-index: 1
}

.hero p {
    font-weight: bold;
    text-align: center;
    margin: 0 0 15px
}

.hero > img {
    width: 100%;
    display: block
}

#hero-title {
    width: 50%;
    margin: 0 auto
}

.hero-download {
    margin: 0 auto;
    width: fit-content;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px
}

.hero-download a {
    background-color: var(--crimson);
    padding: 15px 50px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    transition: 0.15s
}

.hero-download a:hover {
    background-color: var(--crimson-light)
}

.project-attributes {
    display: flex;
    gap: 10px;
    height: 10vh
}

.project-carousel {
    margin: 150px auto
}

.carousel-preview {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 70%;
    height: 80px;
    margin: 0 auto 30px
}

.carousel-preview img {
    height: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 8px
}

.project-introduction {
    display: flex;
    width: 70%;
    margin: 0 auto;
    border-radius: 10px
}

.project-introduction-text {
    flex: 4;
    background-color: var(--extra-grey);
    border-radius: 20px 0 0 20px
}

.project-introduction-text * {
    margin: 50px
}

.project-introduction-text h2 {
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 800;
    background-image: linear-gradient(to right, var(--crimson), yellow);
    color: transparent;
    background-clip: text;
}

.project-introduction-text p {
    font-size: 18px;
    margin-top: 30px
}

.project-introduction > img {
    flex: 5;
    width: 100%;
    object-fit: cover;
    border-radius: 0 20px 20px 0;
    aspect-ratio: 16 / 9
}

section.project-blog {
    background-color: #465F6F
}

div.project-blog {
    width: 70%;
    margin: 0 auto;
    padding: 100px 0
}

div.project-blog h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 70px;
    font-weight: 800;
    margin: 0 0 40px
}

div.project-blog > div {
    display: flex;
    gap: 60px
}

.project-blog-item {
    flex: 1;
    transition: 0.2s
}

.project-blog-item:hover {
    scale: 97.5%
}

.project-blog-item img {
    width: 100%;
    border-radius: 20px
}

.project-blog-item p {
    text-decoration: none;
    color: var(--white);
    margin: 15px 0 0;
    font-size: 20px;
    font-weight: 600
}