:root {
    --crimson: #fb3232;
    --crimson-light: #ff4f4f;
    --beige: #f5f5dc;
    --white: white;
    --black: black;
    --space-grey: #181818
}

body {
    max-width: 1350px;
    width: 70%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px auto;
    background-color: var(--space-grey);
    color: var(--white)
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--crimson);
    padding: 10px;
    border-radius: 10px;
    height: fit-content
}

#logo {
    height: 60px;
    width: auto
}

div.navbar-button {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-right: 5px
}

.navbar-button a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--white);
    font-weight: bold;
    font-size: 18px;
    padding: 15px;
    border-radius: 5px;
    transition: 0.15s
}

.navbar-button a:hover {
    background-color: var(--white);
    color: var(--black)
}

.current-page {
}

.page-header {
    text-transform: uppercase;
    font-size: 40px;
    margin: 30px 0px
}

.frontpage {
    height: 100vh
}

div.hero {
    height: 93vh;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px
}

img.hero {
    height: 50vh;
    width: auto
}

#hero-header {
    font-size: 80px;
    font-weight: bold;
    margin: 0px
}

.projects {
    display: flex;
    gap: 30px;
    height: fit-content
}

.project {
    flex: 1
}

.project img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.15s
}

.project:hover img {
    transform: scale(0.95,0.95)
}

.project-name {
    font-weight: bold;
    font-size: 20px;
    margin: 5px 0px
}

.blog {
    margin: 50px 0px
}

.blog > :is(h1, p) {
    text-align: center
}

.blog-post {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 30px 0px
}

.blog-keyart {
    width: 50%;
    aspect-ratio: 3 / 2;
    object-fit: cover;
    border-radius: 10px
}

.blog-description {
    width: 35%
}

.blog-description h2 {
    margin: 0px
}

.blog-description p {
    margin: 10px 0px
}

#read-more {
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--white);
    background-color: var(--crimson);
    padding: 15px 30px;
    border-radius: 7px;
    transition: 0.15s;
    margin: 60px 0px
}

#read-more:hover {
    background-color: var(--crimson-light)
}

.arrows {
    
}

.chevron {
    height: 64px;
    width: auto
}

.slider {
    height: 35px;
    width: auto
}

.meet-team {
    position: relative
}

.meet-team > div {
    height: fit-content;
    background-color: var(--beige);
    color: var(--black);
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px
}

.team-icons-bar {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: left
}

.team-icons-bar * {
    width: 50px
}

.team-description {
    width: 100%
}

.team-member {
    display: flex;
    justify-content: space-between
}

.team-member > div {
    width: calc(100% - 580px)
}

.team-member h1 {
    margin: 0;
    margin-bottom: 5px
}

.team-member h3 {
    font-size: 20px
}

.team-member h6 {
    font-weight: normal;
    font-size: 15px;
    margin: 0
}

.team-member p {
    font-size: 18px;
    line-height: 25px}

.member-picture {
    height: 550px;
    position: absolute;
	right: 0;
    bottom: 0;
    margin: 0px 30px
}

.team-badge {
    text-transform: uppercase;
    font-size: 15px;
    color: var(--white);
    padding: 3px 10px;
    border-radius: 5px
}

.badge-admin {
    background-color: var(--crimson)
}

.badge-team {
    
}

.project-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px
}

.project-item {
    width: calc(25% - 15px);
    aspect-ratio: 1 / 1
}

.project-icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    transition: 0.3s
}

.project-icon:hover {
    scale: 95%
}

.blogpost-list {
    display: flex;
    flex-direction: column;
    gap: 40px
}

.blogpost-list-item {
    display: flex;
    gap: 20px;
    height: 200px;
    transition: 0.2s
}

.blogpost-list-item:hover {
    scale: 97.5%
}

.blogpost-thumbnail {
    height: 100%;
    aspect-ratio: 3 / 2;
    object-fit: cover;
    border-radius: 10px
}

h5.blogpost-title {
    text-transform: uppercase;
    font-size: 22px;
    margin: 0
}

.blogpost-excerpt {
    font-size: 18px;
    line-height: 22px
}

.project-selection {
    display: flex;
    gap: 100px
}

.project-selection-item {
    width: calc(50% - 50px);
    padding: 30px
}

.project-selection-thumbnail {
    width: 100%;
    transition: 0.3s
}

.project-selection-item:hover .project-selection-thumbnail {
    scale: 150%
}

.project-selection > div > h2 {
    font-size: 30px;
    margin: 0;
    position: absolute;
    z-index: 1;
    width: inherit;
    text-align: center
}