:root {
    --crimson: #ff3535;
    --crimson-light: #ff4f4f;
    --beige: #f5f5dc;
    --white: white;
    --black: black
}

body {
    max-width: 1350px;
    width: 70%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px auto
}

.frontpage {
    height: 100vh
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--crimson);
    padding: 10px;
    border-radius: 10px;
    height: fit-content
}

#logo {
    height: 60px;
    width: auto
}

div.navbar-button {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-right: 5px
}

.navbar-button a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--white);
    font-weight: bold;
    font-size: 18px;
    padding: 15px;
    border-radius: 5px;
    transition: 0.15s
}

.navbar-button a:hover {
    background-color: var(--white);
    color: var(--black)
}

.current-page {
}

div.hero {
    height: 93vh;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px
}

img.hero {
    height: 50vh;
    width: auto
}

#hero-header {
    font-size: 80px;
    font-weight: bold;
    margin: 0px
}

.projects {
    display: flex;
    gap: 30px;
    height: fit-content
}

.project {
    flex: 1
}

.project img {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.15s
}

.project:hover img {
    transform: scale(0.95,0.95)
}

.project-name {
    font-weight: bold;
    font-size: 20px;
    margin: 5px 0px
}

.blog {
    margin: 50px 0px
}

.blog > :is(h1, p) {
    text-align: center
}

.blog-post {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 30px 0px
}

.blog-keyart {
    width: 50%;
    aspect-ratio: 3 / 2;
    object-fit: cover;
    border-radius: 10px
}

.blog-description {
    width: 35%
}

.blog-description h2 {
    margin: 0px
}

.blog-description p {
    margin: 10px 0px
}

#read-more {
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--white);
    background-color: var(--crimson);
    padding: 15px 30px;
    border-radius: 7px;
    transition: 0.15s;
    margin: 60px 0px
}

#read-more:hover {
    background-color: var(--crimson-light)
}

.arrows {
    
}

.chevron {
    height: 64px;
    width: auto
}

.slider {
    height: 35px;
    width: auto
}

.meet-team {
    height: 300px;
    background-color: var(--beige);
    border-radius: 10px;
    padding: 30px;
    display: flex;
    gap: 30px
}

.team-icons-bar {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center
}

.team-icons-bar * {
    width: 50px
}

.team-description {
    position: relative;
    width: 100%
}

.team-member {
    position: absolute;
    display: flex;
    justify-content: space-between
}

.team-member h1 {
    margin: 0;
    margin-bottom: 5px
}

.team-member h6 {
    font-weight: normal;
    font-size: 15px;
    margin: 0
}

.team-member p {
    font-size: 18px;
    line-height: 25px
}

.member-picture {
    height: 350px;
    float: right;
	right: 0;
    bottom: 0
}

.team-badge {
    text-transform: uppercase;
    font-size: 15px;
    color: var(--white);
    padding: 3px 10px;
    border-radius: 5px
}

#badge-admin {
    background-color: var(--crimson)
}

#badge-team {
    
}