:root {
    --crimson: #fb3232;
    --crimson-light: #ff4f4f;
    --beige: #f5f5dc;
    --white: white;
    --black: black;
    --space-grey: #181818
}

body {
    max-width: 1920px;
    font-family: "Albert Sans", Arial, sans-serif;
    margin: 0;
    background-color: var(--space-grey);
    color: var(--white)
}

nav {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--);
    padding: 10px;
    border-radius: 10px;
    height: fit-content
}

#logo {
    height: 60px;
    width: auto
}

div.navbar-button {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-right: 5px
}

.navbar-button a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--white);
    font-weight: bold;
    font-size: 18px;
    padding: 15px;
    border-radius: 8px;
    transition: 0.15s
}

.navbar-button a:hover {
    background-color: var(--crimson);
    color: var(--white)
}

#navbar-discord:hover {
    background-color: #5865F2
}

.current-page {
}

.page-header {
    text-transform: uppercase;
    font-size: 40px;
    margin: 30px auto;
    width: 70%
}

.page-paragraph {
    width: 70%;
    margin: auto;
    font-size: 17px
}

#frontpage-news {
    width: 80%;
    margin: 0 auto 20px;
    position: relative
}

#frontpage-news > img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    aspect-ratio: 5 / 2;
    position: relative
}

#frontpage-news > h1 {
    position: absolute;
    right: 30px;
    bottom: 25px;
    font-size: 50px;
    text-transform: uppercase;
    margin: 0
}

.project-selection {
    width: 70%;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    gap: 30px
}

.project-selection div {
    position: relative;
    display: flex;
    align-items: center;
    height: 120px;
    transition: 0.25s
}

.project-selection div:hover {
    transform: translateY(-10px)
}

/* 'ps' is short for 'project-selection' */

.ps-background {
    object-fit: cover;
    height: 100%;
    border-radius: 20px
}

.ps-title {
    position: absolute;
    left: 30px;
    height: 55px
}

.ps-title.oneblock {
    margin-bottom: 8px
}

.ps-title.raftblock {
    height: 70px
}

.ps-title.revenge {
    height: 70px;
    margin-bottom: 8px
}

.ps-logo {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 160px
}

.ps-logo.oneblock {
    bottom: 10px
}

.ps-logo.raftblock {
    bottom: 0;
    right: 5px
}

.ps-logo.revenge {
    bottom: 2px;
    right: 10px
}

.paragraph-grid {
    width: 60%;
    margin: 200px auto;
    padding: 60px 20px;
    background-color: var(--black);
    border-radius: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    column-gap: 20px;
    row-gap: 20px;
    align-items: center;
    justify-items: center
}

.paragraph-grid > * {
    place-self: center
}

.paragraph-grid img {
    width: 80%
}

.paragraph-grid div {
}

.paragraph-grid h2 {
    text-transform: uppercase;
    font-size: 35px;
    margin: 0
}

.paragraph-grid p {
    font-size: 18px;
    color: gray;
    width: 80%
}

.extras {
    width: 60%;
    height: 200px;
    margin: auto;
    position: relative;
    border-radius: 20px;
    background-color: var(--crimson-light);
    padding: 20px
}

.extras-text {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.extras h2 {
    text-transform: uppercase;
    font-size: 35px;
    margin: 0;
    font-weight: 800
}

.extras a {
    width: fit-content;
    background-color: var(--white);
    color: var(--crimson-light);
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: 0.2s
}

.extras a:hover {
    background-color: whitesmoke
}

.extras > img {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0 20px 20px 0
}

.meet-team > div {
    height: 300px;
    background-color: var(--beige);
    color: var(--black);
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    width: 70%;
    margin: 200px auto;
    position: relative
}

.team-icons-bar {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: left
}

.team-icons-bar > button {
    width: fit-content;
    height: 50px;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer
}

.team-icons-bar img {
    width: 50px
}

.team-description {
    width: 100%
}

.team-member {
    display: flex;
    justify-content: space-between
}

.team-member > div {
    width: calc(100% - 580px)
}

.team-member h1 {
    margin: 0;
    margin-bottom: 5px
}

.team-member h3 {
    font-size: 20px
}

.team-member h6 {
    font-weight: normal;
    font-size: 15px;
    margin: 0
}

.team-member p {
    font-size: 18px;
    line-height: 25px}

#member-picture {
    height: 550px;
    position: absolute;
	right: 0;
    bottom: 0;
    margin: 0px 30px
}

.team-badge {
    text-transform: uppercase;
    font-size: 15px;
    color: var(--white);
    padding: 3px 10px;
    border-radius: 5px
}

.badge-admin {
    background-color: var(--crimson)
}

.badge-team {
    
}

.project-grid {
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px
}

.project-item {
    width: calc(25% - 15px);
    aspect-ratio: 1 / 1
}

.project-icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    transition: 0.3s;
    opacity: 0.6
}

.project-icon:hover {
    scale: 95%;
    opacity: 1
}

.blogpost-list {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 40px
}

.blogpost-list-item {
    display: flex;
    gap: 20px;
    height: 200px;
    transition: 0.2s
}

.blogpost-list-item:hover {
    scale: 97.5%
}

.blogpost-thumbnail {
    height: 100%;
    aspect-ratio: 3 / 2;
    object-fit: cover;
    border-radius: 10px
}

h5.blogpost-title {
    text-transform: uppercase;
    font-size: 22px;
    margin: 0
}

.blogpost-excerpt {
    font-size: 18px;
    line-height: 22px
}

.project-introduction {
    display: flex;
    width: 55%;
    margin: 200px auto;
    border-radius: 10px
}

.project-introduction-text {
    flex: 4;
    background-color: steelblue;
    border-radius: 20px 0 0 20px
}

.project-introduction-text * {
    margin: 25px
}

.project-introduction-text h2 {
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 0
}

.project-introduction-text p {
    font-size: 17px;
    margin-top: 15px
}

.project-introduction > img {
    flex: 5;
    width: 100%;
    object-fit: cover;
    border-radius: 0 20px 20px 0;
    aspect-ratio: 3 / 2
}